body{
    font-family: "Poppins", sans-serif;;
}

  /* Responsive Styles */
  @media (min-width: 768px) {
    header {
      flex-direction: row;
      justify-content: space-between;
    }

    .section-container {
      flex-direction: row;
      justify-content: space-between;
    }

    .section-box {
      width: 32%;
      border-bottom: none;
      border-right: 2px solid black;
      padding-bottom: 0;
    }

    .section-box:last-child {
      border-right: none;
    }

    .reviews {
      flex-direction: row;
      justify-content: space-between;
    }

    .review-box {
      width: 32%;
    }
  }